{% extends 'base.html' %}
{% block body %}
<form action="/edit/{{blue.id}}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" value="{{ blue.name }}"class="form-control" style="width:30%;" >
    </div>
    <div class="mb-3">
        <label>MobileNumber</label>
        <input type="text" name="phonenumber" value="{{ blue.phonenumber }}"class="form-control" style="width:30%;" >
    </div>
    <div class="mb-3">
        <label>Email.id</label>
        <input type="text" name="email" value="{{ blue.email }}"class="form-control" style="width:30%;">
    </div>
    <div class="mb-3">
        {% if blue.image %}
        <img src="{{ blue.image.url }}"  style="height: 70px; width: 70px;"alt="" class="prod-size">
        {% endif %}
        <label>Image</label>
        <input type="file" name="image"  class="form-control" style="width:30%;">
    </div>
    <div class="mb-3">
        <button type="success"  class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock %}